<div class="container mt-5">
  <div class="card card-principal">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-12"></div>
          <div class="col-md-6">
            <label for="valorTransacao" class="mr-2"
              >Valor da Venda:

              <i class="fas ml-1 fa-exclamation-triangle" tooltip="Valor da transação é obrigatório"></i
            ></label>
            <span class="alert-erro" *ngIf="!validForm">Informe o Valor da Transação! </span>
            <input
              onClick="this.focus();this.select()"
              (blur)="validarFormulario()"
              [ngClass]="{ 'is-invalid': !validForm }"
              currencyMask
              id="valorTransacao"
              name="valorTransacao"
              class="form-control form-control-sm valorTransacao"
              type="text"
              formControlName="valorTransacao"
            />
          </div>
          <div class="col-md-6">
            <label for="planoRecebimento"
              >Plano de Recebimento:
              <i
                class="far fa-question-circle"
                tooltip="Possibilita o recebimento de todo o valor das vendas parceladas em uma única vez (antecipação) ou em parcelas"
              ></i
            ></label>
            <select
              class="form-control form-control-sm"
              id="planoRecebimento"
              name="planoRecebimento"
              formControlName="planoRecebimento"
            >
              <option value="1D">1 Dia (Antecipado)</option>
              <option value="30D">30 Dias (Normal em parcelas)</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="taxaDebito"
              >Taxa Débito: <i class="far fa-question-circle" tooltip="Taxa cobrada por vendas a débito"></i
            ></label>
            <input
              onClick="this.focus();this.select()"
              id="taxaDebito"
              name="taxaDebito"
              class="form-control form-control-sm"
              type="text"
              currencyMask
              [options]="{
                decimal: '.',
                prefix: '',
                suffix: ' %',
                thousands: ','
              }"
              formControlName="taxaDebito"
            />
          </div>
          <!-- <div class="col-md-6">
            <label for="promocao"
              >Promoção: <i class="far fa-question-circle" tooltip="Escolha sua promoção"></i
            ></label>
            <select class="form-control form-control-sm" id="promocao" name="promocao" formControlName="promocao">
              <option value="0">0% de taxa no débito e crédito nos 3 primeiros meses</option>
              <option value="199">1.99% de taxa no débito no primeiro ano</option>
              <option value="null">Sem promoção</option>
            </select>
          </div> -->
          <div class="col-md-6">
            <label for="taxaCreditoAVista"
              >Taxa Crédito a Vista {{ tipoTaxaAVista }}:
              <i class="far fa-question-circle" tooltip="Taxa cobrada por vendas em crédito à vista"></i
            ></label>
            <input
              onClick="this.focus();this.select()"
              currencyMask
              [options]="{
                decimal: '.',
                prefix: '',
                suffix: ' %',
                thousands: ','
              }"
              id="taxaCreditoAVista"
              name="taxaCreditoAVista"
              class="form-control form-control-sm"
              type="text"
              formControlName="taxaCreditoAVista"
            />
          </div>

          <div class="col-md-6">
            <label for="taxaCreditoParcelado2a6"
              >Taxa de Crédito Parcelado 2x a 6x:
              <i class="far fa-question-circle" tooltip="Taxa cobrada por vendas em crédito parcelado"></i
            ></label>
            <input
              onClick="this.focus() ; this.select()"
              id="taxaCreditoParcelado2a6"
              name="taxaCreditoParcelado2a6"
              class="form-control form-control-sm"
              type="text"
              currencyMask
              [options]="{
                decimal: '.',
                prefix: '',
                suffix: ' %',
                thousands: ','
              }"
              formControlName="taxaCreditoParcelado2a6"
            />
          </div>
          <div class="col-md-6">
            <label for="taxaCreditoParcelado7a12"
              >Taxa de Crédito Parcelado 7x a 12x:
              <i class="far fa-question-circle" tooltip="Taxa cobrada por vendas em crédito parcelado"></i
            ></label>
            <input
              onClick="this.focus();this.select()"
              id="taxaCreditoParcelado7a12"
              name="taxaCreditoParcelado7a12"
              class="form-control form-control-sm"
              type="text"
              currencyMask
              [options]="{
                decimal: '.',
                prefix: '',
                suffix: ' %',
                thousands: ','
              }"
              formControlName="taxaCreditoParcelado7a12"
            />
          </div>
          <div class="col-md-6">
            <label for="taxaParcelamento"
              >Taxa de Antecipação/Parcelamento A.M.:
              <i
                class="far fa-question-circle"
                tooltip="Taxa cobrada em cada parcela por vendas em crédito parcelado"
              ></i
            ></label>
            <input
              onClick="this.focus();this.select()"
              id="taxaParcelamento"
              name="taxaParcelamento"
              class="form-control form-control-sm"
              type="text"
              currencyMask
              [options]="{
                decimal: '.',
                prefix: '',
                suffix: ' %',
                thousands: ','
              }"
              formControlName="taxaParcelamento"
            />
          </div>
          <div class="col-md-6">
            <label for="visualizacaoDasTaxas"
              >Tipo de Visão das Taxas:
              <i class="far fa-question-circle" tooltip="Tipo de visão das taxas na tabela que irá ser gerada"></i
            ></label>
            <select
              class="form-control form-control-sm"
              id="visualizacaoDasTaxas"
              name="visualizacaoDasTaxas"
              formControlName="visualizacaoDasTaxas"
            >
              <option value="vendedor">Vendedor</option>
              <option value="cliente">Cliente</option>
            </select>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-1"></div>
          <div class="col-md-2 limpar">
            <button type="button" (click)="limpar()" class="btn btn-secondary btn-block btn-sm">
              Limpar
            </button>
          </div>
          <div class="col-md-3 calcular">
            <button type="button" class="btn btn-primary btn-block" (click)="calcular(form.value)">
              Cálcular
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="tabela">
  <section class="table-responsive mt-3 mb-3" *ngIf="resultados.length > 0">
    <table class="table table-bordered table-hover table-sm text-center mb-0">
      <thead>
        <tr>
          <th colspan="3" class="text-center titulo1">PLANO</th>
          <th colspan="3" class="text-center titulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            VENDEDOR ARCANDO COM TODAS AS TAXAS
          </th>
          <th colspan="4" class="text-center titulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            CLIENTE ARCANDO COM TODAS AS TAXAS
          </th>
          <th colspan="4" class="text-center titulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            CLIENTE ARCANDO COM A TAXA DE PARCELAMENTO
          </th>
        </tr>
        <tr>
          <th class="text-center subtitulo1">
            <span tooltip="Descrição do plano">Tipo</span>
          </th>
          <th class="text-center subtitulo1">
            <span tooltip="Taxa de intermediação mais a taxa de parcelamento">Taxa A.M.</span>
          </th>
          <th class="text-center subtitulo1">
            <span tooltip="Taxa de intermediação mais a taxa de parcelamento">Taxa Total</span>
          </th>
          <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span tooltip="Parcela sem acréscimo no caso do vendedor arcar com os descontos"
              >Valor das Parcelas ao Cliente</span
            >
          </th>

          <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span tooltip="Valor das taxas de intermediação e de parcelamento">Valor das taxas</span>
          </th>

          <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span tooltip="Valor da compra subtraído da taxa. É o valor que o vendedor irá receber" class="text-center"
              >Vendedor Recebe</span
            >
          </th>
          <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            <span
              tooltip="Valor da compra no caso do vendedor repassar as taxas do financiamento ao cliente. Vendedor irá receber o valor integral da transação"
              >Valor ao Cliente</span
            >
          </th>
          <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            <span tooltip="Valor da parcela no caso do vendedor repassar as taxas do financiamento ao cliente"
              >Valor das Parcelas ao Cliente</span
            >
          </th>
          <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            <span tooltip="Valor das taxas de intermediação e de parcelamento">Valor das taxas</span>
          </th>
          <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            <span tooltip="É o valor que o vendedor irá receber">Vendedor Recebe</span>
          </th>
          <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span tooltip="Valor da compra para o cliente com juros da taxa de parcelamento" class="text-center"
              >Valor ao Cliente</span
            >
          </th>
          <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span tooltip="Valor da parcelada somente com juros da taxa de parcelamento" class="text-center"
              >Valor das Parcelas ao Cliente</span
            >
          </th>
          <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <span
              tooltip="Valor líquido descontando a taxa de intermediação. É o valor que o vendedor irá receber"
              class="text-center"
              >Vendedor Recebe</span
            >
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let plano of resultados; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
          <td class="conteudo1 titulo-plano">{{ plano?.nome }}</td>
          <td class="conteudo1">
            <ng-template #txParcelamento>
              Taxa de Parcelamento ao mês: {{ plano?.txParcelamento / 100 | percent: '1.2' }}
            </ng-template>
            <span [tooltip]="txParcelamento"> {{ plano?.txParcelamento / 100 | percent: '1.2-3' }}</span>
          </td>
          <td class="conteudo1">
            <ng-template #txTotal
              >Taxa de intermediação: {{ plano?.txIntermediacao / 100 + plano?.valorTxDebito / 100 | percent: '1.2' }}
              <br />
              <br />
              Taxa de Parcelamento:
              {{ plano?.txParcelamento / 100 | percent: '1.2' }}
            </ng-template>
            <span [tooltip]="txTotal" placement="bottom"> {{ plano?.txTotal / 100 | percent: '1.2-3' }}</span>
          </td>
          <td class="conteudo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <ng-template #parcelaCliente>
              {{ plano.valorVenda | currency: 'BRL' }} / {{ plano.qtdeParcelas }}
            </ng-template>
            <span [tooltip]="parcelaCliente">{{ plano?.valorParcelaDespesaVendedor | currency: 'BRL' }}</span>
          </td>

          <td class="conteudo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <ng-template #valorTxDespesaVendedor>
              Valor de desconto da taxa Débito:
              {{ plano.valorTxDebito | currency: 'BRL' }}
              <br />
              <br />
              Valor de desconto da taxa de intermediação:
              {{ plano?.valorTxIntermediacaoVendedor | currency: 'BRL' }}
              <br />
              <br />
              Valor de desconto da taxa de Parcelamento:
              {{ plano?.valorTxParcelamentoVendedor | currency: 'BRL' }}
            </ng-template>

            <span [tooltip]="valorTxDespesaVendedor" placement="bottom">
              {{ plano.valorTxDespesaVendedor | currency: 'BRL' }}</span
            >
          </td>

          <td class="conteudo2 text-center" *ngIf="visualizacaoDasTaxas == 'vendedor'" currencyMask>
            {{ plano.valorLiquidoDespesaVendedor | currency: 'BRL' }}
          </td>

          <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            {{ plano.valorVendaDespesaCliente | currency: 'BRL' }}
          </td>
          <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            {{ plano.valorParcelaDespesaCliente | currency: 'BRL' }}
          </td>
          <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            <ng-template #valorTxDespesaCliente>
              Valor de desconto da taxa Débito:
              {{ plano.txDebitoJurosCliente | currency: 'BRL' }}
              <br />
              <br />
              Valor de desconto da taxa de intermediação:
              {{ plano?.valorTxIntermediacaoCliente | currency: 'BRL' }}
              <br />
              <br />
              Valor de desconto da taxa de Parcelamento:
              {{ plano?.valorTxParcelamentoCliente | currency: 'BRL' }}
            </ng-template>

            <span [tooltip]="valorTxDespesaCliente" placement="bottom">{{
              plano.valorTxDespesaCliente | currency: 'BRL'
            }}</span>
          </td>
          <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
            {{ plano.valorLiquidoDespesaClientel | currency: 'BRL' }}
          </td>

          <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <ng-template #valorVendaDespesaParcelamentoCliente>
              Valor da taxa do parcelamento pelo cliente:
              {{ plano.valorTxParcelamentoCliente | currency: 'BRL' }}
            </ng-template>
            <span [tooltip]="valorVendaDespesaParcelamentoCliente" placement="bottom">
              {{ plano.valorVendaDespesaParcelamentoCliente | currency: 'BRL' }}</span
            >
          </td>
          <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            {{ plano.valorParcelaDespesaParcelamentoCliente | currency: 'BRL' }}
          </td>
          <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
            <ng-template #valorLiquidoDespesaIntermediacaoCliente>
              Valor da taxa de intermediação pelo vendedor:
              {{ plano.valorTxIntermediacaoVendedor | currency: 'BRL' }}
            </ng-template>
            <span [tooltip]="valorLiquidoDespesaIntermediacaoCliente" placement="bottom" triggers="hover">
              {{ plano.valorLiquidoDespesaIntermediacaoCliente | currency: 'BRL' }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <p class="container obs .theEnd'">Clique sobre a taxa ou valor para mais detalhes.</p>
</div>
