/* FORMULARIO */
.fa-exclamation-triangle {
  color: var(--yellow);
}
.col-md-6,
.col-md-4,
.col-md-3,
.limpar {
  margin-top: 5px;
}
.limpar,
.calcular {
  padding-top: 10px;
  transition: 0.2s;
}
.calcular {
  font-size: 12px;
}
.calcular:hover {
  transform: scale(1.05);
  transition: 0.2s;
  color: var(--blue);
}
label {
  font-size: 14px;
  font-weight: 600;
}

label[for='valorTransacao'] {
  font-size: 13px;
}
.alert-erro {
  color: var(--red);
  display: block;
}
button:disabled {
  cursor: no-drop;
}
/* TABELA */
div table * {
  font-size: 15px;
}
table thead tr .titulo1 {
  background-color: #888a8bf8;
}
table thead tr .titulo2 {
  background-color: #17a2b8;
}
table thead tr .titulo4 {
  background-color: #d4ae53;
}
table thead tr .titulo3 {
  background-color: #964980;
}
table thead tr * {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
i,

/* table tbody tr .conteudo1:nth-child(2),
table tbody tr .conteudo2:nth-child(5),
table tbody tr .conteudo4:nth-child(9),
table tbody tr .conteudo3:nth-child(11),
table tbody tr .conteudo3:nth-child(13),
table thead tr {
  cursor: help;
} */

table thead tr .subtitulo1 span,
table thead tr .subtitulo2 span,
table thead tr .subtitulo3 span,
table thead tr .subtitulo4 span {
  font-size: 13px;
}
table thead tr .subtitulo1 {
  background-color: #aaacad;
}
table thead tr .subtitulo2 {
  background-color: #58a9b6;
}
table thead tr .subtitulo4 {
  background-color: #c9ab66;
}
table thead tr .subtitulo3 {
  background-color: #c378ae;
}

table tbody tr:nth-child(odd) {
  background-color: #e6e9e9;
}
table tbody tr:nth-child(even) {
  background-color: #d9dddd;
}

/* table tbody tr .conteudo2 {
  background-color: #e4e8f1;
}
table tbody tr .conteudo4 {
  background-color: #eee6dd;
}
table tbody tr .conteudo3 {
  background-color: #ecd7e8;
} */

div section table tbody tr * {
  font-size: 14px;
}
div section table thead * {
  font-size: 14px;
  vertical-align: middle;
}
table {
  font-size: 1px;
}
section table tbody tr td.titulo-plano {
  font-size: 12px;
  font-weight: bold;
}
.customClass {
  background-color: #964980;
}
:host >>> .tooltip-inner {
  font-size: 12px;
}
:host >>> .tooltip-inner {
  border: 2px solid black;
  background-color: var(--dark);
  color: var(--light);
  font-size: 13px;
  border-top-color: black;
}
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.bottom .tooltip-arrow:before {
  border-top-color: black;
  border-bottom-color: black;
}
section {
  box-shadow: 0px 0px 2px var(--dark);
  /* border-radius: 5px; */
}
#dadosTabela {
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
}
#dadosTabela:hidden {
  transition: all 0.3s ease;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--maq);
  border-radius: 15px;
}

.obs {
  font-style: italic;
}

.fa-info-circle {
  color: var(--maq);
}

@media (min-width: 376px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
  }
}
@media (min-width: 720px) {
  .limpar {
    padding-top: 29px;
  }
  .calcular {
    padding-top: 26px;
  }
  .alert-erro {
    display: inline;
  }
  label {
    font-size: 12px;
  }
}
