<!-- @format -->

<div
  (window:resize)="getWidth()"
  (window:scroll)="removerTooltip()"
  (window:click)="addTooltip()"
  class="all-table"
>
  <div
    class="container pt-1"
    [class.top-form]="resultados.length <= 0"
    [hidden]="resultados.length > 0"
  >
    <div class="card card-principal">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <label for="valorTransacao" class=""
                >Valor da Venda:
                <i
                  class="fas ml-1 fa-exclamation-triangle"
                  tooltip="Digite aqui o valor da transação, essa informação é obrigatória."
                ></i
              ></label>
              <span class="alert-erro" *ngIf="!validForm">Valor obrigatório! </span>
              <input
                onClick="this.select()"
                inputmode="numeric"
                (blur)="validarFormulario()"
                type="tel"
                currencyMask
                id="valorTransacao"
                name="valorTransacao"
                class="form-control valorTransacao"
                type="text"
                formControlName="valorTransacao"
              />
            </div>
            <div class="col-md-6 col-lg-4">
              <label for="planoRecebimento"
                >Plano de Recebimento:
                <i
                  class="far fa-question-circle"
                  tooltip="Possibilita o recebimento de todo o valor das vendas parceladas em uma única vez (antecipação) ou em parcelas."
                ></i
              ></label>
              <select
                class="form-control"
                id="planoRecebimento"
                name="planoRecebimento"
                formControlName="planoRecebimento"
              >
                <option value="1D">1 Dia (Antecipado)</option>
                <option value="30D">30 Dias (Normal em parcelas)</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-4">
              <label for="taxaDebito"
                >Taxa Débito:
                <i class="far fa-question-circle" tooltip="Taxa cobrada por vendas a débito."></i
              ></label>
              <input
                onClick="this.select()"
                inputmode="numeric"
                id="taxaDebito"
                name="taxaDebito"
                class="form-control"
                type="text"
                currencyMask
                [options]="{
                  decimal: '.',
                  prefix: '',
                  suffix: ' %',
                  thousands: ','
                }"
                formControlName="taxaDebito"
              />
            </div>
            <!-- <div class="col-md-6">
            <label for="promocao"
            >Promoção: <i class="far fa-question-circle" tooltip="Escolha sua promoção"></i
              ></label>
              <select class="form-control  " id="promocao" name="promocao" formControlName="promocao">
                <option value="0">0% de taxa no débito e crédito nos 3 primeiros meses</option>
                <option value="199">1.99% de taxa no débito no primeiro ano</option>
                <option value="null">Sem promoção</option>
              </select>
            </div> -->
            <div class="col-md-6 col-lg-4">
              <label for="taxaCreditoAVista"
                >Taxa Crédito a Vista {{ tipoTaxaAVista }}:
                <i
                  class="far fa-question-circle"
                  tooltip="Taxa cobrada por vendas em crédito à vista."
                ></i
              ></label>
              <input
                onClick="this.select()"
                inputmode="numeric"
                currencyMask
                [options]="{
                  decimal: '.',
                  prefix: '',
                  suffix: ' %',
                  thousands: ','
                }"
                id="taxaCreditoAVista"
                name="taxaCreditoAVista"
                class="form-control"
                type="text"
                formControlName="taxaCreditoAVista"
              />
            </div>

            <div class="col-md-6 col-lg-4">
              <label for="taxaCreditoParcelado2a6"
                >Taxa de Crédito Parcelado 2x a 6x:
                <i
                  class="far fa-question-circle"
                  tooltip="Taxa cobrada por vendas em crédito parcelado"
                ></i
              ></label>
              <input
                onClick="this.select()"
                inputmode="numeric"
                id="taxaCreditoParcelado2a6"
                name="taxaCreditoParcelado2a6"
                class="form-control"
                type="text"
                currencyMask
                [options]="{
                  decimal: '.',
                  prefix: '',
                  suffix: ' %',
                  thousands: ','
                }"
                formControlName="taxaCreditoParcelado2a6"
              />
            </div>
            <div class="col-md-6 col-lg-4">
              <label for="taxaCreditoParcelado7a12"
                >Taxa de Crédito Parcelado 7x a 12x:
                <i
                  class="far fa-question-circle"
                  tooltip="Taxa cobrada por vendas em crédito parcelado."
                ></i
              ></label>
              <input
                onClick="this.select()"
                inputmode="numeric"
                id="taxaCreditoParcelado7a12"
                name="taxaCreditoParcelado7a12"
                class="form-control"
                type="text"
                currencyMask
                [options]="{
                  decimal: '.',
                  prefix: '',
                  suffix: ' %',
                  thousands: ','
                }"
                formControlName="taxaCreditoParcelado7a12"
              />
            </div>
            <div class="col-md-6 col-lg-4">
              <label for="taxaParcelamento"
                >Taxa de Antecipação / Parcelamento A.M.:
                <i
                  class="far fa-question-circle"
                  tooltip="Taxa cobrada em cada parcela por vendas em crédito parcelado."
                ></i
              ></label>
              <input
                onClick="this.select()"
                inputmode="numeric"
                id="taxaParcelamento"
                name="taxaParcelamento"
                class="form-control"
                type="text"
                currencyMask
                [options]="{
                  decimal: '.',
                  prefix: '',
                  suffix: ' %',
                  thousands: ','
                }"
                formControlName="taxaParcelamento"
              />
            </div>
            <div class="col-md-6 col-lg-3">
              <label for="visualizacaoDasTaxas"
                >Tipo de Visão das Taxas:
                <i
                  class="far fa-question-circle"
                  tooltip="Tipo de visão das taxas na tabela que irá ser gerada."
                ></i
              ></label>
              <select
                class="form-control"
                id="visualizacaoDasTaxas"
                name="visualizacaoDasTaxas"
                formControlName="visualizacaoDasTaxas"
              >
                <option value="vendedor">Vendedor</option>
                <option value="cliente">Cliente</option>
              </select>
            </div>
            <div class="col-md-6" *ngIf="width < 992"></div>
            <div class="col-md-3 col-lg-2 limpar">
              <button type="button" (click)="limpar()" class="btn btn-secondary btn-block btn-sm">
                Limpar
              </button>
            </div>
            <div class="col-md-3 col-lg-3 calcular">
              <button
                type="button"
                class="btn btn-primary btn-block btn-hover"
                (click)="calcular(form.value)"
              >
                <span> Cálcular </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="dadosTabela" [class.container]="width > 767" [hidden]="resultados.length <= 0">
    <div class="limpar" style="width: 130px">
      <button type="button" (click)="recalcular()" class="btn btn-secondary btn-block btn-sm">
        <i class="fas fa-reply mr-2"></i>
        <span> Recalcular </span>
      </button>
    </div>
    <section class="table-responsive pt-1 mb-1" (scroll)="removerTooltip()">
      <table class="table table-bordered table-hover table-sm text-center mb-0">
        <thead>
          <tr>
            <th colspan="3" class="text-center titulo1">PLANO</th>
            <th colspan="3" class="text-center titulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              VENDEDOR ARCANDO COM TODAS AS TAXAS
            </th>
            <th colspan="4" class="text-center titulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              CLIENTE ARCANDO COM TODAS AS TAXAS
            </th>
            <th colspan="4" class="text-center titulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              CLIENTE ARCANDO COM A TAXA DE PARCELAMENTO
            </th>
          </tr>
          <tr>
            <th class="text-center subtitulo1">
              <ng-template #subtitulo1> Descrição do plano de pagamento. </ng-template>
              <span container="div" [tooltip]="subtitulo1" placement="auto" [hidden]="width > 375"
                >Desc.</span
              >
              <span container="div" [tooltip]="subtitulo1" placement="auto" [hidden]="width <= 375"
                >Descrição</span
              >
            </th>
            <th class="text-center subtitulo1">
              <ng-template #subtitulo2> Taxa de parcelamento ao mês. </ng-template>
              <span container="div" [tooltip]="subtitulo2" placement="auto">Taxa A.M.</span>
            </th>
            <th class="text-center subtitulo1">
              <ng-template #subtitulo3>
                Taxa de intermediação mais a taxa de parcelamento ao mês.
              </ng-template>
              <span container="div" [tooltip]="subtitulo3" placement="auto">Taxa Total</span>
            </th>
            <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo4>
                Parcela sem acréscimo no caso do vendedor arcar com os descontos.
              </ng-template>
              <span container="div" [tooltip]="subtitulo4" placement="auto"
                >Valor das Parcelas ao Cliente</span
              >
            </th>
            <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo5>
                Valor das taxas de intermediação e de parcelamento.
              </ng-template>
              <span container="div" [tooltip]="subtitulo5" placement="auto">Valor das taxas</span>
            </th>
            <th class="text-center subtitulo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo6>
                Valor da compra subtraído da taxa. É o valor que o vendedor irá receber.
              </ng-template>
              <span container="div" [tooltip]="subtitulo6" placement="auto" class="text-center"
                >Vendedor Recebe</span
              >
            </th>
            <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #subtitulo7>
                Valor da compra no caso do vendedor repassar as taxas do financiamento ao cliente.
                Vendedor irá receber o valor integral da transação.</ng-template
              >
              <span container="div" [tooltip]="subtitulo7" placement="auto">Valor ao Cliente</span>
            </th>
            <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #subtitulo8>
                Valor da parcela no caso do vendedor repassar as taxas do financiamento ao
                cliente.</ng-template
              >
              <span container="div" [tooltip]="subtitulo8" placement="auto"
                >Valor das Parcelas ao Cliente</span
              >
            </th>
            <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #subtitulo8>
                Valor das taxas de intermediação e de parcelamento.</ng-template
              >
              <span container="div" [tooltip]="subtitulo8" placement="auto">Valor das taxas</span>
            </th>
            <th class="text-center subtitulo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #subtitulo9>É o valor que o vendedor irá receber.</ng-template>
              <span container="div" [tooltip]="subtitulo9" placement="auto">Vendedor Recebe</span>
            </th>
            <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo10
                >Valor da compra para o cliente com juros da taxa de parcelamento.</ng-template
              >
              <span container="div" [tooltip]="subtitulo10" placement="auto" class="text-center"
                >Valor ao Cliente</span
              >
            </th>
            <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo11
                >Valor da parcelada somente com juros da taxa de parcelamento.</ng-template
              >
              <span container="div" [tooltip]="subtitulo11" placement="auto" class="text-center"
                >Valor das Parcelas ao Cliente</span
              >
            </th>
            <th class="text-center subtitulo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #subtitulo12
                >Valor líquido descontando a taxa de intermediação. É o valor que o vendedor irá
                receber.</ng-template
              >
              <span container="div" [tooltip]="subtitulo12" placement="auto" class="text-center"
                >Vendedor Recebe</span
              >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let plano of resultados; let even = even; let odd = odd"
            [ngClass]="{ odd: odd, even: even }"
          >
            <td class="conteudo1 titulo-plano" [hidden]="width > 375">
              <span tooltip="{{ plano?.nome?.longo }}">{{ plano?.nome?.curto }}</span>
            </td>
            <td class="conteudo1 titulo-plano" [hidden]="width <= 375">{{ plano?.nome?.longo }}</td>
            <td class="conteudo1">
              <ng-template #txParcelamento>
                Taxa de Parcelamento ao mês: {{ plano?.txParcelamento / 100 | percent: '1.2' }}
              </ng-template>
              <span container="div" [tooltip]="txParcelamento" triggers="hover:!hover">
                {{ plano?.txParcelamento / 100 | percent: '1.2-3' }}</span
              >
            </td>
            <td class="conteudo1">
              <ng-template #txTotal
                >Taxa de intermediação:
                {{ plano?.txIntermediacao / 100 + plano?.valorTxDebito / 100 | percent: '1.2' }}
                <br />
                <br />
                Taxa de Parcelamento: {{ plano?.txParcelamento / 100 | percent: '1.2' }}
              </ng-template>
              <span container="div" [tooltip]="txTotal" placement="auto">
                {{ plano?.txTotal / 100 | percent: '1.2-3' }}</span
              >
            </td>
            <td class="conteudo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #parcelaCliente>
                <span> Valor da venda dividido pelas quantidade de parcelas. </span>
                <br />
                {{ plano.valorVenda | currency: 'BRL' }} / {{ plano.qtdeParcelas }}
              </ng-template>
              <span container="div" [tooltip]="parcelaCliente" placement="auto">{{
                plano?.valorParcelaDespesaVendedor | currency: 'BRL'
              }}</span>
            </td>
            <td class="conteudo2" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #valorTxDespesaVendedor>
                Valor de desconto da taxa Débito: {{ plano.valorTxDebito | currency: 'BRL' }}
                <br />
                <br />
                Valor de desconto da taxa de intermediação:
                {{ plano?.valorTxIntermediacaoVendedor | currency: 'BRL' }}
                <br />
                <br />
                Valor de desconto da taxa de Parcelamento:
                {{ plano?.valorTxParcelamentoVendedor | currency: 'BRL' }}
              </ng-template>

              <span container="div" [tooltip]="valorTxDespesaVendedor" placement="auto">
                {{ plano.valorTxDespesaVendedor | currency: 'BRL' }}</span
              >
            </td>
            <td
              class="conteudo2 text-center"
              *ngIf="visualizacaoDasTaxas == 'vendedor'"
              currencyMask
            >
              <ng-template #valorLiquidoDespesaVendedor>
                <span> Valor da venda subtraído pelo Valor da venda das taxas. </span>
                <br />
                {{ plano.valorVenda | currency: 'BRL' }} -
                {{ plano.valorTxDespesaVendedor | currency: 'BRL' }}
              </ng-template>
              <span [tooltip]="valorLiquidoDespesaVendedor" placement="auto" container="div">
                {{ plano.valorLiquidoDespesaVendedor | currency: 'BRL' }}
              </span>
            </td>
            <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #valorVendaDespesaCliente>
                <span> Valor da venda somado ao Valor do total de taxas. </span>
                {{ plano.valorVenda | currency: 'BRL' }} +
                {{ plano.valorTxDespesaCliente | currency: 'BRL' }}
              </ng-template>
              <span [tooltip]="valorVendaDespesaCliente" placement="auto" container="div">
                {{ plano.valorVendaDespesaCliente | currency: 'BRL' }}</span
              >
            </td>
            <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #valorParcelaDespesaCliente>
                <span> Valor da venda dividido pelas quantidade de parcelas. </span>
                <br />
                {{ plano.valorVendaDespesaCliente | currency: 'BRL' }} / {{ plano.qtdeParcelas }}
              </ng-template>
              <span container="div" [tooltip]="valorParcelaDespesaCliente" placement="auto">
                {{ plano.valorParcelaDespesaCliente | currency: 'BRL' }}
              </span>
            </td>
            <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #valorTxDespesaCliente>
                Valor de desconto da taxa Débito: {{ plano.txDebitoJurosCliente | currency: 'BRL' }}
                <br />
                <br />
                Valor de desconto da taxa de intermediação:
                {{ plano?.valorTxIntermediacaoCliente | currency: 'BRL' }}
                <br />
                <br />
                Valor de desconto da taxa de Parcelamento:
                {{ plano?.valorTxParcelamentoCliente | currency: 'BRL' }}
              </ng-template>

              <span container="div" [tooltip]="valorTxDespesaCliente" placement="auto">{{
                plano.valorTxDespesaCliente | currency: 'BRL'
              }}</span>
            </td>
            <td class="conteudo4" *ngIf="visualizacaoDasTaxas == 'cliente'">
              <ng-template #valorLiquidoDespesaClientel>
                <span> Valor liquído da venda. </span>
              </ng-template>
              <span container="div" [tooltip]="valorLiquidoDespesaClientel" placement="auto">{{
                plano.valorLiquidoDespesaClientel | currency: 'BRL'
              }}</span>
            </td>
            <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #valorVendaDespesaParcelamentoCliente>
                <span> Valor da venda somado ao Valor da taxa do parcelamento pelo cliente. </span>
                {{ plano.valorVenda | currency: 'BRL' }} +
                {{ plano.valorTxParcelamentoCliente | currency: 'BRL' }}
              </ng-template>
              <span
                [tooltip]="valorVendaDespesaParcelamentoCliente"
                placement="auto"
                container="div"
              >
                {{ plano.valorVendaDespesaParcelamentoCliente | currency: 'BRL' }}</span
              >
            </td>
            <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #valorParcelaDespesaParcelamentoCliente>
                <span> Valor da venda dividido pelas quantidade de parcelas. </span>
                <br />
                {{ plano.valorVendaDespesaParcelamentoCliente | currency: 'BRL' }} /
                {{ plano.qtdeParcelas }}
              </ng-template>
              <span
                container="div"
                [tooltip]="valorParcelaDespesaParcelamentoCliente"
                placement="auto"
              >
                {{ plano.valorParcelaDespesaParcelamentoCliente | currency: 'BRL' }}</span
              >
            </td>
            <td class="conteudo3" *ngIf="visualizacaoDasTaxas == 'vendedor'">
              <ng-template #valorLiquidoDespesaIntermediacaoCliente>
                <span>Valor da venda subtraído ao valor da taxa da taxa de intermediação. </span>
                <br />
                {{ plano.valorVenda | currency: 'BRL' }} -
                {{ plano.valorTxIntermediacaoVendedor | currency: 'BRL' }}
              </ng-template>
              <span
                container="div"
                [tooltip]="valorLiquidoDespesaIntermediacaoCliente"
                placement="auto"
              >
                {{ plano.valorLiquidoDespesaIntermediacaoCliente | currency: 'BRL' }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <p class="obs ml-2" [hidden]="!mobile">
      <i class="fas fa-info-circle"></i>
      Clique sobre a taxa ou valor para mais detalhes.
    </p>
    <p class="obs" [hidden]="mobile">
      <i class="fas fa-info-circle mr-2"></i>Passe o mouse sobre a taxa ou valor para mais detalhes.
    </p>
  </div>
</div>
